

/*=============== HOME ===============*/

.home_bg{
    width: 100%;
    background: rgb(158,113,255);
    background: linear-gradient(90deg, rgba(158, 113, 255, 0.308) 0%, rgba(0, 121, 48, 0.171) 100%);;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 55px;
    gap: 5px;
}

.home__image{
    width: 100%;
    position: relative;
    img{
        position: absolute;
        bottom: 0;
    }
}
.home__info{
    position: relative;
}
.home__title{
    font-size: 18px;
    margin: 15px 10px;
    color: var(--title-color);
}
.home__subtitle{
    font-size: 14px;
    margin: 10px;
}
.home__botones{
    margin: 0 10px 50px 10px;
}

/* === circulo decorativo === */
.home__info::after{
    content: '';
    width: 150px;
    height: 150px;
    z-index: -10;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -50px;
    background-color: var(--septimo-color);
}


/*=============== ABOUT ===============*/
.contenedor__about{
    gap: 1rem;
}

.about__info{
    p{
        padding-bottom: 5px;
    }
}

/*=============== PROYECTOS RECIENTES ===============*/
.contenedor__proyectos{
    gap: 2rem;
}

.general__card{
    background-color: #FCFCFC;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.75);
}
.proyectos__info{
    padding: 1.3rem;
    h3{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 10px;
    }
}

/*=============== CLIETES ===============*/
.contenedor__clientes{
    margin-top: 1.5rem;
    gap: 2rem;
}
.cliente__card{
    width: 90%;
    margin: auto;
    padding: 1.5rem;
}
.cliente__info{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}
.cliente__image{
    width: 100px;
}

/*=============== CALL_TO_ACTION ===============*/
.callAction{
    background: rgb(102,36,244);
    background: linear-gradient(90deg, rgba(102,36,244,1) 0%, rgba(192,167,247,1) 100%);
    color: var(--sexto-color);
}
.callAction__title{
    text-align: start;
    padding-top: 3rem;
}
.contenedor__callAction{
    margin-top: 1rem;
}
.callAction__info{
    margin-top: 1.2rem;
}
.callAction__cardTitle{
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}
.info__title{
    font-size: 30px;
    margin-top: 4rem;
}
.info__subtitle{
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.info__btn{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.info__boton{
    background-color: var(--cuarto-color);
    &:hover{
        background-color: var(--tercer-color);
    }
}
  

/*=============== OTROS_LISTA ===============*/
.otros__table{
    width: 100%;
}
.otros__tableHead{
    background-color: var(--secund-color);
    height: 40px;
    color: var(--sexto-color);
}
.otros__tableBody{
    text-align: center;
    tr{
        width: 100%;
        height:40px;
        margin-bottom: 2rem;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

    /*=============== HOME ===============*/
    .home_bg{
        margin-top: 0px;
        gap: 10px;
        padding-top: 0;
        grid-template-columns: 1fr 2fr;
    }
    .home__title{
        font-size: 30px;
        margin: 140px 10px 15px 10px;
    }
    .home_bg{
        height: 400px;
    }

    /* === circulo decorativo === */
    .home__info::after{
        width: 220px;
        height: 220px;
        right: 0;
        top: -50px;
    }

    /*=============== PROYECTOS RECIENTES ===============*/
    .contenedor__proyectos{
        grid-template-columns: 1fr 1fr;
    }

    /*=============== CLIETES ===============*/
    .contenedor__clientes{
        grid-template-columns:1fr 1fr;
    }
    .cliente__card{
        width: 100%;
    }
}


@media screen and (min-width: 765px) {

    /*=============== HOME ===============*/
    .home_bg{
        gap: 30px;
    }
    .home__title{
        font-size: 40px;
        margin: 170px 10px 15px 10px;
    }
    .home_bg{
        height: 500px;
    }
    .home__subtitle{
        font-size: 20px;
        margin: 10px;
    }

        /* === circulo decorativo === */
        .home__info::after{
            width: 280px;
            height: 280px;
            right: 0;
            top: -50px;
        }


    /*=============== PROYECTOS RECIENTES ===============*/
    .contenedor__proyectos{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /*=============== CLIETES ===============*/
    .contenedor__clientes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    

    /*===============  CALL_TO_ACTION  ===============*/
    .contenedor__callAction{
        grid-template-columns:1fr 1fr; 
        gap: 20px;
    }
    .callAction__info{
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .info__btn{
        justify-content: start;
    }

}



/* For large devices */
@media screen and (min-width: 1023px) {
  .section{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

    /*=============== HOME ===============*/
    .home_bg{
        gap: 80px;    
    }
    .home__title{
        font-size: 50px;
        margin: 330px 10px 20px 10px;
    }
    .home_bg{
        height: 700px;
    }
    .home__subtitle{
        font-size: 20px;
        margin: 20px 10px;
    }

     /* === circulo decorativo === */
        .home__info::after{
            width: 380px;
            height: 380px;
            right: -50px;
            top: -50px;
        }  
 

}



@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

     /*===============  PROYECTOS  ===============*/

    .callAction__img{
        width: 300px;
        right: -140px;
        top: -159px;
    }


}
